/* ************** */
/* CSS accueil / index */
/* ************** ************** ************** ************** */

/* ************** */
/* CSS accueil body*/
/* ************** */

body.accueil {
    background: #9CBDE2 url(../img/Brouillard.jpg) no-repeat;
    background-size: 1000px;
}

/* ************** */
/* CSS logo accueil */
/* ************** */

.accueil header div.logo-ensemble {
    width: 50%;
    padding: 0 0;
    margin: 10px 10px;
    position: relative;
}

.accueil header div .logo-kanji {
    margin: 10% 10%;
    width: 10%;
    top: 1%;
    left: 0;
}

.accueil header div .logo-combat {
    position: absolute;
    margin: 5% 0;
    width: 38%;
    top: 5%;
    left: 30%;
    z-index: 1;
}

.accueil header div .logo-solei {
    margin: 5% 0;
    width: 28%;
    position: absolute;
    top: 10%;
    left: 38%;
}

.accueil .titre-entete {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    color: black;
    font-size: 1.8em;
}

/* ************** */
/* CSS accueil menu */
/* ************** */
.accueil header {
    max-width: 800px;
    margin: 0 auto;
}

.accueil header a {
    color: #003268;
}

.accueil header ul.menu-liste {
    margin: 20px 10% 0 10%;
    list-style-type: none;
    padding: 0;
}

.accueil header ul.menu-liste li {
    width: 100%;
    height: 2.8em;
    margin: 2.5% 0;
    background: rgba(230, 220, 243, 0.33);
    border: 3px solid #9CBDE2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.accueil header ul.menu-liste div {
    padding: 0.8rem 0 0 0.8rem;
}

.accueil header ul.menu-liste span {
    font-size: 1.2rem;
}

/* régler les icons de la liste du menu */
.accueil header ul.menu-liste svg {
    margin: -0.4rem 1.2rem 0 0;
    width: 1.2rem;
    fill: black;
    float: right;
}

.accueil header ul.menu-liste .yoko-geri {
    margin: -0.4rem 1.2rem 0 0;
    width: 1.5rem;
}

.accueil header ul.menu-liste .giakusuki {
    margin: -0.4rem 1.2rem 0 0;
    width: 1.8rem;
}

.accueil header ul.menu-liste .shoto-uke {
    margin: -0.5rem 1.2rem 0 0;
    width: 1.4rem;
}

.accueil header ul.menu-liste .gedan-barai {
    margin: -0.4rem 1.2rem 0 0;
    width: 1.4rem;
}

.accueil header ul.menu-liste .suki {
    margin: -0.4rem 1.2rem 0 0;
    width: 1rem;
}

/* ************** */
/* CSS accueil main */
/* ************** */

body.accueil main {
    padding: 30px 20px 60px 20px;
    min-height: 500px;
    background: linear-gradient(transparent, #DFD6DC, #DFD6DC, #9CBDE2, #9CBDE2, #9CBDE2, #9CBDE2, #9CBDE2, #87A881, #87A881, #9CBDE2, transparent);
    color: black;
}

body.accueil main .sentrage {
    max-width: 800px;
    margin: 0 auto;
}

body.accueil main h1 {
    color: blue;
}

/* à alignéer yu fond */
body.accueil main div .tour-image {
    padding: 0 0 0 0;
    width: 300px;
    height: 620px;
    float: right;
    shape-outside: polygon(300px 250px, 300px 620px, 0 620px, 0 560px, 35px 540px, 39px 480px, 141px 410px, 156px 330px, 180px 280px, 225px 250px);
}

/* ************** */
/* CSS accueil footer */
/* ************** */

body.accueil .pseudofooter{
    position: relative;
    margin: 0 0 0 0;
    height: 0;
}

body.accueil .pseudofooter img {
    position: absolute;
    top: 240px;
    right: 2px;
    width: 300px;
}

body.accueil .pseudofooter a.verlehaut {
    position: absolute;
    top: 500px;
    right: 20px;
    width: 50px;
    fill: #425B79;
}