/* ************** */
/* CSS global     */
/* ************** ************** ************** ************** */

/* Style texte */
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    min-width: 300px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    font-family: 'Castoro', sans-serif;
    font-weight: 100;
    color: #003268;
    text-decoration: none;
}

h1 {
    font-family: 'Castoro', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 5% 0 5%;
}

h2 {
    font-family: 'Castoro', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 5%;
}

.center {
    text-align: center;
}

/* ************** */
/* CSS par page précis */
/* ************** ************** ************** ************** */

/* ************** */
/* CSS accueil body*/
/* ************** */

body.accueil {
    background: #9CBDE2 url(../img/Brouillard.jpg) no-repeat;
    background-size: 1000px;
}

/* ************** */
/* CSS logo accueil */
/* ************** */

header div.logo-ensemble {

    width: 50%;
    padding: 0 0;
    margin: 10px 10px;
}

header div .logo-kanji {
    margin: 10% 10%;
    width: 10%;
    top: 1%;
    left: 0;
}

header div .logo-combat {
    position: absolute;
    margin: 5% 0;
    width: 15%;
    top: 1%;
    left: 18%;
    z-index: 1;
}

header div .logo-solei {
    margin: 5% 0;
    width: 12.5%;
    position: absolute;
    top: 1.5%;
    left: 21%;
}

/* ************** */
/* CSS accueil menu */
/* ************** */

header ul.menu-liste {
    margin: 10% 10% 0 10%;
    list-style-type: none;
    padding: 0;
}

header ul.menu-liste li {
    width: 100%;
    height: 2.8em;
    margin: 2.5% 0;
    background: rgba(230, 220, 243, 0.33);
    border: 3px solid #9CBDE2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

header ul.menu-liste div {
    padding: 0.8rem 0 0 0.8rem;
}

header ul.menu-liste span {
    font-size: 1.2rem;
}

header ul.menu-liste svg {
    margin: -0.4rem 1.2rem 0 0;
    width: 1.2rem;
    fill: black;
    float: right;
}

/* ************** */
/* CSS accueil main */
/* ************** */

body.accueil main {
    padding: 30px 20px 60px 20px;
    background: linear-gradient(transparent, #DFD6DC, #DFD6DC, #9CBDE2, #9CBDE2, #87A881, #87A881, #9CBDE2, #9CBDE2);
    color: black;
}

body.accueil main h1 {
    color: blue;
}
/* à alignéer yu fond */
body.accueil main div .tour-image {
    padding: 0 0 0 0;
    width: 300px;
    height: 400px;
    float: right;
    shape-outside: polygon(300px 40px, 300px 400px, 0 400px, 0 350px, 35px 330px, 39px 288px, 141px 218px, 156px 110px, 180px 80px, 225px 40px);
}

/* ************** */
/* CSS accueil footer */
/* ************** */

body.accueil footer {
    position: relative;
    height: 20px;
}

body.accueil footer img {
    position: absolute;
    bottom: 20px;
    right: 2px;
    width: 300px;
}

body.accueil footer a.verlehaut {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
}