/* ************** */
/* CSS global     */
/* ************** ************** ************** ************** */

/* Style texte */
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1.2em;
    line-height: 1.4;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    min-width: 300px;
}

img {
    height: auto;
    width: auto;
}

.maximg, .maximg img {
    max-width: 100%;
    max-height: 100%;
}

a {
    font-family: 'Castoro', sans-serif;
    font-weight: 100;
    color: #9CBDE2;
    text-decoration: none;
}

h1 {
    font-family: 'Castoro', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 5% 0 10% 0;
}

h2 {
    font-family: 'Castoro', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 5%;
}

.center {
    text-align: center;
}

body .maxlarge{
    max-width: 800px;
    margin: 0 auto;
}

/* ************** */
/* CSS header */
/* ************** */

header .menu {
    width: 200px;
    --centrage: calc(50% - 100px); /* créer une variable pour pouvoir centrer le menu */
    display: inline-block;
    margin: 0 var(--centrage) 0 var(--centrage);
    color: #9CBDE2;
}

header .bouton-menu {
    position: relative; /* mettre en relative pour pouvoire maitre les trapèse en absolut */
    padding: 10px;
    text-align: center;
}

header .menu .menu-texte {
    position: absolute;
    margin: 0 0;
    width: 80px;
    height: 25px;
    left: 60px;
    z-index: 3;
}

header .trapese { /* créer un trapèse comme menu, la div est sous le menu et c'est la bordure du haut qui donne cet effet */
    position: absolute;
    top: -20px;
    height: 0;
    width: 120px;
    border-top: 60px solid RGB(0, 0, 0); /* hauteur et couleur de la bordure */
    border-left: 30px solid transparent; /* de combien la bordure est plus large en haut*/
    border-right: 30px solid transparent;
    z-index: 2; /* placer le trapèse derrière le texte */
}

header .trapese2 { /* créer un trapèse un peut plus grand pour faire la l'effet de la bordure bleu*/
    position: absolute;
    top: -20px;
    left: 6px;
    height: 0;
    width: 128px;
    border-top: 64px solid RGB(0, 0, 255);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    z-index: 1;
}

header .scroll-menu {
    width: 175px;
    display: none;
    text-align: center;
}

header .scroll-menu ul {
    padding: 0 0;
    margin: 5px 0;
}

header .scroll-menu ul li {
    list-style-type: none;
    margin: 0 auto;
    width: 120px;
    height: 35px;
}

header .scroll-menu ul a {
    padding: 0 20px;
}

header .menu:hover .scroll-menu {
    display: inline;
    position: absolute;
    top: -60px;
    background-color: black;
    padding: 110px 10px 0 10px;
    border: 4px solid RGB(0, 0, 255);
    z-index: 0;
}

/* ************** */
/* CSS main */
/* ************** */
main .titre {
    position: relative;
    height: 65px;
    padding: 10px 0 0 0;
    width: 90%;
    margin: 0 auto 15px auto;
    border: #ffd332 solid;
    border-width: 0 0 5px 0;
    z-index: -1;
}

main .titre h1 {
    margin: 20px 0 0 0;
    z-index: -1;
}

main .titre svg {
    position: absolute;
    max-width: 3em;
    fill: #ffc000;
    top: 5px;
    right: 1px;
    z-index: -1;
}

main h2 {
    margin: 20px 0 5px 0;
}

main {
    margin: 40px 0 0 0;
}

main .bordure {
    width: 90%;
    margin: 0 auto;
    padding: 0 0;
}

/* ************** */
/* CSS footer commun */
/* ************** */

footer {
    margin: 0 0;
    padding: 0 20px 20px 0;
    height: 80px;
}

footer .verlehaut {
    width: 50px;
    fill: #9CBDE2;
    float: right;
}

/* ************** ************** ************** ************** */
/* CSS Philosophie */
/* ************** */

.philosophie main .funakoshi {
    width: 90%;
    margin: 5px auto;
}

.philosophie main .txt-funakoshi {
    font-size: 2rem;
    color: #FFC000;
}

/* ************** ************** ************** ************** */
/* CSS Techniques */
/* ************** */

.technique main .img-2par-l {
    width: 100%;
    position: relative;
    z-index: -1;
}

.technique main .img-2par-l .technique1 {
    position: relative;
    background: url("../img/Karate-arme.png");
    background-size: cover;
    background-position: top 0 left 50%;
    display: inline-block;
    width: 50%;
    height: 45vw;
    max-height: 400px;
}

.technique main .img-2par-l .technique2 {
    position: relative;
    background: url("../img/self-defense.jpg");
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 50%;
    height: 45vw;
    max-height: 400px;
}

/* liste des point de contact */
.technique main .point-contact li {
    position: relative;
}

.technique main .point-contact .img {
    width: 100%;
    max-width: 700px;
    max-height: 280px;
    background-color: #FFFFFF;
    text-align: center;
}

.technique main .point-contact .fermer {
    background-color: silver;
    color: dimgray;
    text-align: center;
    margin: 0 0;
    padding: 2px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 35px;
    left: 15px;
    z-index: 6;
}

.technique main .point-contact .dim-normal {
    height: 35vW;
}

.technique main .point-contact .dim-grand {
    height: 50vW;
}

.technique main .point-contact .dim-tgrand {
    height: 70vW;
}

.technique main .point-contact li div + div {
    display: none;
}

.technique main .point-contact li div:target ~ div {
    display: block;
}

.technique main .point-contact .fermer:target + div {
    display: none;
}

/* explication général des technique ******** ******** ******** */
.technique main .exemple-technique img {
    width: 85vw;
    max-width: 650px;
    height: 45vw;
    max-height: 300px;
    padding: 0 0;
    margin: 0 0;
}

.technique main .exemple-technique {
    display: block;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    max-width: 720px;
    width: 85vw;
    max-height: 335px;
    height: calc(45vw + 35px);
}

/* table des katas ******** ******** ******** ******** ******** */
.technique main .icon-info {
    width: 2rem;
    fill: white;
    margin: 0 10px auto 0;
}

.technique main .table-info {
    position: relative;
    padding: 10px 0 2px 0;
}

.technique main .table-info .info-tactile {
    display: none;
}

.technique main .table-kata {
    position: relative;
    margin: 5px 0 20px 5%;
    padding: 0 0 0 0;
    width: calc(95% - 5px);
    overflow: auto;
}

.technique main .table-kata span {
    position: absolute;
    z-index: 1;
    color: white;
    background-color: black;
    width: 220px;
    top: 160px;
    left: 790px;
    font-size: 1.4em;
}

.technique main table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border: 5px solid #002aff;
    color: black;
    width: 950px;
    margin: 0 5% 0 0;
    padding: 0 5% 0 0;
}

.technique main table th,
.technique main table td {
    position: relative;
    height: 50px;
    min-width: 85px;
    max-width: 120px;
}

.technique main table .icon-play {
    position: absolute;
    width: 20px;
    bottom: 10px;
    right: 10px;
    fill: red;
}

.technique main table .drop-titre{
    background-color: rgb(255, 183, 123);
    font-size: 1rem;
    color: black;
    display: none;
}

.technique main table a {
    display:block;
    height: 50px;
    width: 90px;
    padding: 10px 10px;
    margin: 0 0;
}

.technique main table .ecartplus a {
    color: black;
    pointer-events: none;
    text-decoration: none;
}

.technique main table .blanc a, .jaune a, .orange a, .vert a {
    color: black;
}

.technique main table .bleu a, .maron a, .noir a {
    color: #FFFFFF;
}

.technique main table .jaune {
    background-color: #ffdd00;
}

.technique main table .orange {
    background-color: #ff6f00;
}

.technique main table .vert {
    background-color: #006200;
}

.technique main table .bleu {
    background-color: #0800ff;
    color: #FFFFFF;
}

.technique main table .maron {
    background-color: #692e0f;
    color: #FFFFFF;
}

.technique main table .noir, .noir a {
    background-color: black;
    color: #FFFFFF;
}

/* ************** ************** ************** ************** */
/* matériel */
/* ************** */

.materiel main .img-2par-l {
    width: 100%;
    position: relative;
    z-index: -1;
    background-color: #FFFFFF;
    padding: 0 0;
}

.materiel main .img-2par-l .materiel1 {
    position: relative;
    background: url("../img/GiKarate.jpg") no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 50%;
    height: 45vw;
}

.materiel main .img-2par-l .materiel2 {
    position: relative;
    background: url("../img/Cinture.jpg") no-repeat  center;
    background-size: contain;
    display: inline-block;
    width: 50%;
    height: 45vw;
}

/* ************** ************** ************** ************** */
/* athlete */
/* ************** */

.athlete main .imgpassion {
    background: url("../img/passion.jpg") no-repeat;
    background-size: 100% 50vw;
    text-align: center;
    width: 100%;
    height: 50vw;
    padding: 0 0;
}

.athlete main .imgpassion img{
    width: 80%;
    height: 50vw;
    padding: 0 0;
    margin: 0 0;
}

/* ************** ************** ************** ************** */
/* athlete */
/* ************** */

.sante main img{
    width: 100%;
    height: 50vw;
    padding: 0 0;
    margin: 0 0;
}
