/* ************** */
/* CSS global     */
/* ************** ************** ************** ************** */

/* Style texte */
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

h1 {

}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}
a {

}

/* ************** */
/* CSS par page précis */
/* ************** ************** ************** ************** */

/* ************** */
/* CSS accueil */
/* ************** */

/* ************** */
/* CSS logo       */
/* ************** */
header div .logo-kanji {
    margin: 10% 10%;
    width: 10%;
    position: absolute;
    top: 1%;
    left: 0;
}

header div .logo-combat {
    margin: 10% 10%;
    width: 30%;
    position: absolute;
    top: 1%;
    left: 18%;
    z-index: 1;
}

header div .logo-solei {
    margin: 10% 10%;
    width: 25%;
    position: absolute;
    top: 1.5%;
    left: 23%;
}

body .accueil {
    background-color: #EEE1DC;
}

.menu-shoto {
    width: 20px;
    fill: green;
}