@media screen and (min-width: 350px){
	body.accueil {
		background-size: 1200px;
	}
}

@media screen and (min-width: 660px){

	header div.logo-ensemble {
		width: 40%;
	}
	header div .logo-combat {
		margin: 4% 0;
		width: 12%;
		top: 0.8%;
		left: 14.4%;
		z-index: 1;
	}

	header div .logo-solei {
		margin: 4% 0;
		width: 10%;
		top: 2.4%;
		left: 16.8%;
	}
}

@media screen and (min-width: 900px){
	header div.logo-ensemble {
		width: 30%;
	}
	header div .logo-combat {
		margin: 3% 0;
		width: 9%;
		top: 0.6%;
		left: 10.8%;
		z-index: 1;
	}

	header div .logo-solei {
		margin: 3% 0;
		width: 7.5%;
		top: 1.8%;
		left: 12.6%;
	}
}

@media screen and (min-width: 1200px){

	header div.logo-ensemble {
		width: 25%;
	}
	header div .logo-combat {
		margin: 2.5% 0;
		width: 7.5%;
		top: 0.5%;
		left: 9%;
		z-index: 1;
	}

	header div .logo-solei {
		margin: 2.5% 0;
		width: 6.25%;
		top: 1.5%;
		left: 10.5%;
	}
}

@media screen and (min-width: 1590px){

}