/* ************** */
/* CSS responsive global */
/* ************** ************** ************** ************** */

@media screen and (max-width: 349px){
    html {
        width: 325px;
    }
    .technique main .img-2par-l {
        width: 324px;
    }

    .technique main .img-2par-l .technique1 {
        width: 162px;
        height: 155px;
    }

    .technique main .img-2par-l .technique2 {
        width: 162px;
        height: 155px;
    }

    .technique main figure img {
        width: 300px;
        height: 150px;
    }

    .technique main figure {
        width: 300px;
        height: 185px;
    }
}

@media screen and (max-width: 380px) {
    .technique main .icon-info {
        width: 2rem;
        fill: white;
        margin: 0 10px 15px 0;
    }
}

@media screen and (max-width: 500px) {
    .technique main table th:hover span,
    .technique main table td:hover span {
        display: inline;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .technique main .table-info .info-non-tac {
        display: none;
    }

    .technique main .table-info .info-tactile {
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    .technique main .table-info span {
        display: inline-block;
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .technique main .table-info span {
        position: absolute;
        top: 8px;
        left: 43px;
    }
}