/* ************** */
/* CSS responsive accueil / index */
/* ************** ************** ************** ************** */
@media screen and (min-width: 340px){

	:root {
		--hauteur: 720px;
	}
}

@media screen and (max-width: 349px){
	header div.logo-ensemble {
		width: 157px;
	}
	header div .logo-combat {
		margin: 20px 0;
		width: 47px;
		top: 3px;
		left: 50px;
		z-index: 1;
	}

	header div .logo-solei {
		margin: 20px 0;
		width: 35px;
		top: 8px;
		left: 59px;
	}
}

@media screen and (min-width: 350px){

	.accueil .titre-entete {
		font-size: 1.9em;
	}

	body.accueil {
		background-size: 1200px;
	}

	header ul.menu-liste {
		margin: 0 10% 0 10%;
	}

	:root {
		--hauteur: 700px;
	}
}

@media screen and (min-width: 360px){

	.accueil .titre-entete {
		font-size: 2em;
	}

	:root {
		--hauteur: 685px;
	}
}

@media screen and (min-width: 370px){
	:root {
		--hauteur: 660px;
	}
}

@media screen and (min-width: 380px){

	.accueil .titre-entete {
		font-size: 2.2em;
	}

	:root {
		--hauteur: 640px;
	}
}

@media screen and (min-width: 395px){
	:root {
		--hauteur: 620px;
	}
}

@media screen and (min-width: 400px){
	:root {
		--hauteur: 610px;
	}
}

@media screen and (min-width: 410px){
	:root {
		--hauteur: 585px;
	}
}

@media screen and (min-width: 425px){
	:root {
		--hauteur: 565px;
	}
}

@media screen and (min-width: 430px){
	:root {
		--hauteur: 540px;
	}
}

@media screen and (min-width: 440px){
	:root {
		--hauteur: 525px;
	}
}

@media screen and (min-width: 450px){
	:root {
		--hauteur: 515px;
	}
}

@media screen and (min-width: 460px){

	.accueil .titre-entete {
		font-size: 2.7em;
	}
	:root {
		--hauteur: 510px;
	}
}

@media screen and (min-width: 470px){
	:root {
		--hauteur: 490px;
	}
}

@media screen and (min-width: 480px){
	:root {
		--hauteur: 475px;
	}
}

@media screen and (min-width: 490px){
	:root {
		--hauteur: 465px;
	}
}

@media screen and (min-width: 500px){
	:root {
		--hauteur: 450px;
	}
}

@media screen and (min-width: 510px){
	:root {
		--hauteur: 445px;
	}
}

@media screen and (min-width: 520px){
	:root {
		--hauteur: 435px;
	}
}

@media screen and (min-width: 530px){
	:root {
		--hauteur: 425px;
	}
}

@media screen and (min-width: 550px){
	:root {
		--hauteur: 415px;
	}
}

@media screen and (min-width: 570px){
	:root {
		--hauteur: 400px;
	}
}

@media screen and (min-width: 590px){
	:root {
		--hauteur: 380px;
	}

	body.accueil {
		background-size: 1250px;
	}
}

@media screen and (min-width: 615px){
	:root {
		--hauteur: 360px;
	}
}

@media screen and (min-width: 650px){
	:root {
		--hauteur: 350px;
	}
}

@media screen and (min-width: 660px) {

	.accueil .titre-entete {
		font-size: 3em;
	}

	body.accueil {
		background-size: 1400px;
	}
}

@media screen and (min-width: 1000px) {

	body.accueil {
		background-size: 1600px;
	}
}

@media screen and (min-width: 1200px) {

	body.accueil {
		background-size: 1800px;
	}
}

@media screen and (min-width: 1400px) {

	body.accueil {
		background-size: 2000px;
	}
}

@media screen and (min-width: 1600px) {

	body.accueil {
		background-size: cover;
	}
}